.main-container{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -300px;
	height: 300px;
	width: 600px;
}

.solve-button{
	background-color: #519473;
	border: none;
	border-radius: 3px;
	box-shadow: 0 3px 1px #36634d;
	color: white;
	display: block;
	font-family: 'Lobster', 'Tahoma', 'Times New Roman';
	font-size: 2em;
	line-height: 200px;
	margin: 0 auto;
	width: 400px;
	transition: box-shadow, .3s;
}

.solve-button:hover{
	cursor: pointer;
	box-shadow: 0 6px 1px #36634d;
}

.solve-button:active{
	outline: none;
	cursor: pointer;
	box-shadow: 0 2px 1px #36634d;
}

.solve-button:focus{
	outline: none;
}